html,body {
  height:100%;
  width:100%;
  margin:0;
  font-family:system-ui,-apple-system,Segoe UI,Roboto,sans-serif
}
body {
  display:flex;
  flex-direction:column;
  background:#949494
}

.toolbar {
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding:8px;
  display:flex;
  gap:8px;
  justify-content:flex-end;
  pointer-events:none;
  z-index:1000
}

.fab {
  pointer-events:auto;
  width:56px;
  height:56px;
  border:none;
  border-radius:50%;
  cursor:grab;
  font-size:1.8rem;
  line-height:56px;
  font-weight:bold;
  color:#fff;
  background:#3f51b5;
  box-shadow:0 3px 6px rgb(13, 255, 0);
  transition:.2s
}

.fab:active {
  cursor:grabbing
}

.fab:hover {
  box-shadow:0 6px 12px #0003;
  transform:translateY(-2px)
}

#board {
  flex:1 1 auto;
  width:100%;
  border-top:1px solid #ccc;
  touch-action:none;
  cursor:grab;
  padding-bottom:env(safe-area-inset-bottom)
}

.grabbing {
  cursor:grabbing
}

.rotating {
  cursor:crosshair
}