<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Editor de Figuras</title>
  <link rel="stylesheet" href="..\static\css\Tablero-Poligonos.css">
</head>
<body>
  <div class="toolbar">
    <button class="fab" id="btnTri" draggable="true" data-sides="3">△</button>
    <button class="fab" id="btnSq"  draggable="true" data-sides="4">▢</button>
    <button class="fab" id="btnPent" draggable="true" data-sides="5">⬠</button>
    <button class="fab" id="btnHex" draggable="true" data-sides="6">⬡</button>
  </div>

  <canvas id="board"></canvas>

  <script src="..\static\js\Tablero-Poligonos.js"></script>
</body>
</html>